*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
/* Contenedor Principal */
#contenedor {
	margin: 0.5vw auto;
	border: black 0.2vw solid;
	width: 60vw;
	height: 98vh; 
}
#contenedor .maquina {
	margin: 0.5vw auto;
	border: black 0.2vw solid;
	width: 50vw;
	height: 80vh; 
}
