<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
	<meta charset="UTF-8">
		<title>Maquina Expendedora</title>
		<link rel="stylesheet" href="/css/style.css">
	</head>
	<body>
		<div id="contenedor">
			<div class="maquina">
				<div class="cristal">
					<div class="fila">
						fila1
					</div>
					<div class="fila">
						fila2
					</div>
					<div class="fila">
						fila3
					</div>
					<div class="fila">
						fila14
					</div>
					<div class="fila">
						fila5
					</div>
				</div>
			</div>
		</div>
	</body>
</html>